*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.agoodshop{
    font-weight: bold;
}

#header{
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.185);
}

.wrapper{
    margin-left: 620px;
    margin-right: 620px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display: flex;
    align-items: center;
    gap: 15px;
    list-style-type: none;
    font-size: small;
}

#contactar{
    border: 1px solid rgba(0, 0, 0, 0.185);
    padding: 5px;
    border-radius:  5px;
}

#gb{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgb(10, 207, 10);
    color: white;
    font-size: 0.7em;
    padding: 5px;
}

#container-article{
    display: flex;
    gap: 20px;
    position: relative;
    font-size: 0.7em;
}

#titulo-article{
    padding-top: 10px;
    padding-bottom: 10px;
}

#container-precio{
    display: flex;
    gap: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    align-items: center;
}

.botonBlue{
    color: white;
    background-color: rgb(35, 111, 253);
    border-radius: 5px;
    border-color: transparent;
    font-weight: normal;
    font-size:small;
    width: max-content;
    padding: 5px;
}
.botonRed{
    color: white;
    background-color: rgb(253, 35, 35);
    border-radius: 5px;
    border-color: transparent;
    font-weight: normal;
    font-size:small;
    width: max-content;
    padding: 5px;
}

#container-servicios{
    display: flex;
    gap: 10pxpx;
}
.container-servicios-item{
    display: flex;
    align-items: center;
    width: auto;
}
.servicio-imagen{
    width: 40px;
    height: 40px;
}

section{
    margin-top: 20px;
}

#container-section{
    display: flex;
    padding-top: 20px;
    gap: 20px;
    justify-content: space-between;
}

.container-section-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.185);
    font-size: 0.7em;
    width: 150px;
}

aside{
    margin-top: 10px;
    font-size: 0.8em;
}

#container-formulario{
    display: flex;
    gap: 50px;
    padding: 20px;
}
#container-formulario-items-1{
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 3;
}
#container-formulario-items-2{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 1;
}

label{
    font-style: normal;
    font-weight: 500;
}
.inputText{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(219, 236, 250);
    border-radius: 6px;
    padding: 6px 5px;
    color: black;
}

#footer{
    border-top: 0.5px solid rgba(0, 0, 0, 0.185);
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-top: 20px;
    /* position: absolute;
    bottom: 0;
    width: 100%; */
}

/* --------------------------------------------------------------------- */
/* -------------------------------CSS MOBILE---------------------------- */
/* --------------------------------------------------------------------- */

@media only screen and (max-width: 1280px) {
    img{
        width: 100%;
        height: auto;
    }
    .container-section-item img {
        content: url("https://placehold.co/160x90");
    }
    .wrapper{
        margin-left: 15px;
        margin-right: 15px;
    }
    header nav{
        display: none;
    }
    #container-article{
        flex-direction: column;
        font-size: 0.8em;
    }
    #titulo-article{
        font-size: 2.5em;
    }
    #container-servicios{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    #container-section{
        display: flex;
        flex-direction: column;
    }
    .container-section-item{
        width: 100%;
        & h4 {
            font-size: 1.2em;
        }
    }
    #container-formulario{
        flex-direction: column;
        gap: 30px;
    }
    #container-formulario-items-2{
        gap: 10px;
    }
    .inputText{
        padding: 10px 10px;
    }
    #footer{
        padding-bottom: 20px;
    }
}